body{
    font: 15px/1.5 Arial, Helvetica,sans-serif;
    margin: 0px;
    background-color:#dbdbdb;
}

/* Global */
a{
    text-decoration: none;
}

.container{
    width:80%;
    margin:auto;
    overflow:hidden;
}

ul{
    margin:0;
    padding:0;
}

container {
    width: 50%;
    margin: auto;
    text-align: left;
}
* fieldset{
    border-color: #e8491d;
    border-radius: 5px;
    margin-top: 7px;
    margin-left: 5em;
    margin-right: 5em;
}
* legend {
    border: 2px solid #e8491d;
    border-radius: 5px;
    background-color: #dbdbdb;
}

#h1_form_title {
    font-family: "Comic Sans MS";
    font-size: 2.25em;
}

#form_label {
    font-family: "Comic Sans MS";
    font-size: 1.1em;
}

#generic_input {
    width: 75%;
    padding: 12px 20px;
    margin: 8px 0;
    display: block;
    border: #c4c4c4 2px;
    border-radius: 20px;
}

#generic_submit {
    width: auto;
    background-color: #35424a;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#generic_submit:hover {
    background-color: #e8491d;
}

#list_table {
    margin: auto;
    width: 50%;
    text-align: center;
    border: none;
}

#list_table tbody tr:nth-child(odd) {
    background-color: #c4c4c4;
}

/* --GLOBAL-- */

/* Header/Sidebar */

.sidebar {
    width: 200px;
    background-color: #35424a;
    position: fixed;
    height: 100%;
    overflow: hidden;
}

.sidebar #logo {
    text-align: center;
    padding-bottom: 5px;
    color: black;
    font-size: 50px;
    font-family: "Comic Sans MS";
    margin-top: 0px;
}

.sidebar #logo sup span {
    color: #e8491d;
}

.sidebar a, button.dropbtn_sweep-to-right {
    background-color: #35424a;
    width: 100%;
    display: inline-block;
    color: white;
    padding: 16px;
    text-decoration: none;
}

button.dropbtn_sweep-to-right {
    border: none;
    text-align: left;
    font: 15px/1.5 Arial, Helvetica,sans-serif;
}

/* On screens that are less than 700px wide, make the sidebar into a topbar */
@media screen and (max-width: 700px) {
    .sidebar {
        width: 100%;
        height: auto;
        position: relative;
    }
    .sidebar a, button.dropbtn_sweep-to-right {
        float: left;
        text-align: center;
    }
    div.content {margin-left: 0;}
}

/* On screens that are less than 400px, display the bar vertically, instead of horizontally */
@media screen and (max-width: 400px) {
    .sidebar a, button.dropbtn_sweep-to-right {
        text-align: center;
        float: none;
    }
}

.sidebar a, button.dropbtn_sweep-to-right {
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

.sidebar a:before, button.dropbtn_sweep-to-right:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #e8491d;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.sidebar a:hover, button.dropbtn_sweep-to-right:hover, .sidebar a:focus, button.dropbtn_sweep-to-right:focus, .sidebar a:active, button.dropbtn_sweep-to-right:active {
    color: black;
}

.sidebar a:hover:before, button.dropbtn_sweep-to-right:hover:before, .sidebar a:focus:before, button.dropbtn_sweep-to-right:focus:before, .sidebar a:active:before, button.dropbtn_sweep-to-right:active:before
 {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

.sidebar .dropdown-content {
    display: none;
}

.sidebar .dropdown-content a {
    width: 200px;
}

section#content {
    margin-left: 200px;
    padding: 1px 16px;
    height: 1000px;
}
@media screen and (max-width: 700px) {
    section#content {
        margin: auto;
    }
}

.login {
    box-sizing: border-box;
}

/*  HOME */

section.home h1#branding {
    font-family: "Comic Sans MS";
    padding: auto;
    margin-top: 0px;
    font-size: 70px;
    margin-bottom: 2px;
}

section.home p#short-abot {
    margin-bottom: 20px;
    font-family: "Comic Sans MS";
}

section.home h1#branding span#num {
    color: #e8491d;
}

.home-column {
    float: left;
    width: 33.33%;
}

/* Clear floats after the columns */
.home-row:after {
    content: "";
    display: table;
    clear: both;
}

section.home div.home-row div.home-column img {
    display: block;
    width: 200px;
    height: 200px;
    margin-left: 30%;
    margin-right: 70%;
    border: #e8491d 3px solid;
    border-radius: 10px;
}

section.home div.home-row div.home-column p {
    padding-left: 10px;
    padding-right: 10px;
}

section.home div.loginform {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: auto;
}

section.home div.loginform fieldset {
    background-color: #35424a;
}

@media screen and (max-width: 950px) {
    .home-column {
        float: none;
        width: 100%;
    }
}


/* LOGIN */

container.login fieldset {
    margin: auto;
    margin-top: 30px;
    width: 200px;
}

/* ---EXAM--- */
.exam-manage fieldset {
    border-color: #e8491d;
    border-radius: 5px;
    margin-top: 7px;
    background-color: #c4c4c4;
}
.exam-manage fieldset legend {
    border: 2px solid #e8491d;
    border-radius: 5px;
    background-color: #dbdbdb;
}
.exam-result-done, .exam-list {
    margin-left: 25em;
    margin-right: 25em;
}

/* ---- FieldQuesAdd ---- */

form#fieldquesadd div#selFieldSubj select {
    width: auto;
    padding: 12px 20px;
    margin: 8px 0;
    display: block;
    border: #c4c4c4 2px;
    border-radius: 20px;
}

form#fieldquesadd div#enterQues select#quesType,
    form#fieldquesadd div#enterQues div#question input[type=text],
    form#fieldquesadd div#enterQues div#quesType1 {
    width: auto;
    padding: 12px 20px;
    margin: 8px 0;
    display: block;
    border: #c4c4c4 2px;
    border-radius: 20px;
}

form#fieldquesadd div#enterQues button#btn\+,
    form#fieldquesadd div#enterQues button#btn\- {
    width: 30px;
    height: 30px;
    background-color: #35424a;
    color: white;
    padding: 7px 10px;
    margin: 8px 0;
    margin-right: 10px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
}

form#fieldquesadd div#enterQues button#btn\+:hover,
    form#fieldquesadd div#enterQues button#btn\-:hoover {
    background-color: #e8491d;
}